body {
  font-family: 'Poppins', sans-serif;
}
#content {
  display: flex;
}
#map {
  width: 800px;
  height: 600px;
}
#info button {
  min-width: 50px;
  width: 0.2vw;
  margin: auto;
  height: 100px;
  background: white;
  border-radius: 1px;
  border: 2px solid grey;
}
#info buttonhover {
  cursor: pointer;
  background: lightgrey;
}
/*footer*/
footer {
  background: #D7D7D7;
  color: #0D2A40;
  text-align: center;
  margin: 0;
  overflow: auto;
}
footer a {
  text-decoration: none;
  font-size: 2em;
  color: #0D2A40;
  text-align: center;
  padding: 0.5em;
}
