.DS_Store
node_modules
client/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test/unit/coverage
server/datasources.development.js
server/datasources.production.js

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
.env
